:root {
    /* Colors */
    --bg-color: hsl(185, 75%, 39%);
    --x-color: hsl(229, 23%, 23%);
    --xx-color: hsl(227, 10%, 46%);
    --xxx-color: hsl(0, 0%, 59%);

    /* font */
    --name-n-stats: 18px;
    --font: 'Kumbh Sans', sans-serif;; 
}

/* Code from frontend mentor */
.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

/* my custom code */
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--bg-color);
    
    /* Background image */
    background-image: url(/images/bg-pattern-top.svg), url(/images/bg-pattern-bottom.svg);
    background-position:-300px -600px, 650px 300px;
    background-repeat: no-repeat, no-repeat;
}

.container {
    /* border: solid; */
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    font-family: var(--font);
    font-size: var(--name-n-stats);
    background-color: white;
    margin-bottom: 5%;
}


.container .profile-img{
    border-radius: 50%;
    border: solid;
    align-items: center;
    margin-top: -55px;
    border-color: white;
}

.top-element {
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.src {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.info {
    display: flex;
    flex-direction: row;
    padding-top: 7px;
}

.name {
    font-weight: bold;
}

.age {
    padding-left: 5px;
}

.country {
    padding: 7px;
}

.stats {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 350px;
    border-top: solid;
    border-width: 0.01cm;
    border-top-color: var(--xxx-color);
}

.age, .country{
    color: var(--xxx-color);
}

.country {
    font-size: 15px;
}

.element {
    padding: 20px 30px 20px 30px;
    text-align: center;
}

.numbers {
    font-weight: bold;
    font-size: 18px;
}

.label {
    color: var(--xxx-color);
    font-size: 12px;
}
